.container{
    width: 500px;
    height: 200px;
    background-color: rgb(177, 227, 251);
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.heading{
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center; 
}

.head2{
    color: rgb(243, 71, 243);
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
}

.btn-c{
    float: right;
}